@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Roboto&display=swap');

*, body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    font-size: 1.5vw;
    background-color: #272626;
    color: #fefefe;
}

.main {
    height: 30vw;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vw 0 1.6vw;
}
.main h1 {
    font-family: 'Homemade Apple', cursive;
    word-spacing: 3vw;
    font-size: 6vw;
}
.main h2 {
    font-size: 4vw;
    align-self: flex-end;
    padding-bottom: 50px;
}
.main h2 span {
    display: inline-block;
    width: 3vw;
    height: 4vw;
}
.main span img {
    background: transparent;
    width: 100%;
    height: 100%;
    transform: scale(1.2)
}

.main p {
    text-align: center;
}

.img-parralax {
    width: 100%;
    height: 400px;
    background-image: url(pizza1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 100px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px 0 50px;
    flex-direction: column;
    width: 70%;
    text-decoration: none;
    border: 5px solid #944654;
    border-radius: 5px;
}
.menu ul {
    list-style-type: none;
    padding-bottom: 30px;
}
.menu ul li {
    padding: 10px;
    background: transparent;
    cursor: pointer;
}
.menu ul li:hover h5{
    text-decoration: underline;
}

.contact {
    margin: 50px;
    line-height: 3vw;
    text-align: center;
}

.contact img {
    width: 40vw;
    padding: 50px;
}

@media screen and (max-width: 1050px) {
    .main {
        height: 40vw;
    }
    h5, p{
        font-size: 2vw;
    }
}
@media screen and (max-width: 770px){
    /* .main {
        height: 300px;
    } */
    .menu {
        padding: 20px 10px 20px;
        width: 90%;
    }
}

@media screen and (max-width: 425px){
    h1 {
        font-size: 7vw;
    }
    h2 {
        font-size: 5vw;
    }
    h5, p{
        font-size: 3vw;
    }
    .main {
        height: 50vw;
    }
    .img-parralax {
        height: 200px;
        margin-bottom: 50px;
    }
    .menu {
        padding: 10px ;
        width: 80%;
    }
}
@media screen and (min-width: 1852px){
    .main {
        height: 30vw;
    }
}
